.homeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 3px auto;
  padding: 10px;
}

.homeGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 25vh;
  border-radius: 5px;
  border: 1px solid;
  background-color:cornflowerblue;
  margin-bottom: 10px;
  padding: 10px;
}

.homeGroup h3 {
  color: brown;
  
}

h2 {
  text-align: center;
}

  