.layoutContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkcyan;
}

.layoutHeader {
    position: absolute;
    top: 0;
    width: 100%;
}

.layoutContent {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }



.navbar ul li {
    display: inline;
    padding: 5px;
}

a.active {
    color: coral;
}
  
  .layoutFooter {
    position: absolute;
    bottom: 0;
    width: 100%; 
    text-align: center;
    background-color: skyblue;
  }