.navBar {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
nav {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline;
    padding: 3px;
}
a.active {
    color: coral;
}
